header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid rgb(221 221 221);
    background-color: white;
    }

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head h3 {
            padding-left: 5em;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 300;
            color: black;
        }

.searchbox{
            border: 1px solid grey;
            border-radius: 8px;
            padding-top: 7px;
            padding-bottom: 7px;
            padding-left: 7px;
            padding-right: 7px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: lighter;
            color: grey;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 200px;
        }

.icon_nav {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 30px;
        }

h1 {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 10px;
    font-weight: 300;
    color: white;
}